@mixin breakpoint($point) {
    @if $point==huges {
        @media (max-width: 1366px) {
            @content;
        }
    }
    @else if $point==larges {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $point==mediums {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $point==smalls {
        @media (max-width: 425px) {
            @content;
        }
    }
}

@mixin vertical-align($position:relative) {
    top: 50%;
    transform: translateY(-50%);
    position: $position;
}
@mixin horizontal-align($position:relative) {
    left: 50%;
    transform: translateX(-50%);
    position: $position;
}

@mixin all-align($position:relative) {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: $position;
}

@mixin text-align($direct) {
    @if($direct=left) {
        .text-#{$direct} {
            text-align: $direct;
        }
    }
    @else if($direct=center) {
        .text-#{$direct} {
            text-align: $direct;
        }
    }
    @else if($direct=right) {
        .text-#{$direct} {
            text-align: $direct;
        }
    }
}