@include text-align(left);
@include text-align(center);
@include text-align(right);
.no-pad {
    padding: 0;
}

.no-pad-l {
    padding-left: 0;
    @include breakpoint(smalls) {
        padding-left: 15px;
    }
}

.no-pad-r {
    padding-right: 0;
    @include breakpoint(smalls) {
        padding-right: 15px;
    }
}